#titulo { /*1,0,0*/
    color: tomato;
}


.titulo:hover { /*0,2,0*/
    color: aqua;
}

section .titulo { /*0,1,1*/
    color: chocolate;

}
.titulo { /*0,1,0*/
    color: green;
}
main section h2 { /*0,0,3*/
    color: blue;
}
h2 {/*0,0,1*/
    color: brown;
}